            .pudim-photo {
                width: 600px;
                border-radius: 20px;
            }

            header {
                display: flex;
                flex-direction: column;
                background-color: rgb(237, 174, 102);
                border: 1px, solid, black;
                height: 150px;
                justify-items: center;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border-color: black;
                justify-content: space-around;
                margin-bottom: 50px;
                width: 700px;
            }

            .header {
                display: flex;
                justify-content: center;
            }

            h1 {
                margin: 0;
                font-size: 50px;
            }

            p {
                margin: 0;
                font-size: 25px;
                padding-bottom: 20px;
    
            }

            .pudim-div {
                display: flex;
                justify-content: center;
                justify-content: space-around;
                align-items: center;
            }

            button {
                width: 250px;
                height: 60px;
                border: 2px, solid, black;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.4s;
                transition: transform 0.4s;
                font-size: 25px;
            }

            button:hover {
                background-color: rgb(130, 130, 130);
                transform: scale(1.1);
            }

            body {
                background-color: rgb(242, 253, 188);
            }